In [57]:
import pandas as pd

In [214]:
orders_train_df = pd.read_csv("datasets/csv/orders_train.csv")
nodes_train_df = pd.read_csv("datasets/csv/nodes_train.csv")
geolocation_train_df = pd.read_csv("datasets/csv/geolocation_train.csv")

/var/folders/lp/_cq88g5d0vg96d8xt_8p3r780000gn/T/ipykernel_19968/1832278994.py:3: DtypeWarning: Columns (12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,48,49,50,51,52,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,74,75,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,116,117,118,119,120,121,122,123,124,126,127,128,129,130,131,132,133,134,135,136,137,138,139,141) have mixed types. Specify dtype option on import or set low_memory=False.
  geolocation_train_df = pd.read_csv("datasets/csv/geolocation_train.csv")

### Orders info

In [215]:
orders_train_df.shape

(5000, 5)

In [216]:
orders_train_df.dtypes

Id                     int64
running_time          object
completed_time        object
route_distance_km    float64
delta_time           float64
dtype: object

In [217]:
orders_train_df.describe()

                 Id  route_distance_km   delta_time
count  5.000000e+03        5000.000000  5000.000000
mean   1.437166e+17           3.705945   613.161600
std    5.322209e+18           1.767206   213.802608
min   -9.220688e+18           0.000000    50.000000
25%   -4.422074e+18           2.359750   441.000000
50%    1.826612e+17           3.394000   614.000000
75%    4.817401e+18           4.753250   788.000000
max    9.222287e+18          15.954000   999.000000

In [218]:
orders_train_df.head()

,Id,running_time,completed_time,route_distance_km,delta_time
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0

### Nodes info

In [219]:
nodes_train_df.shape

(480291, 5)

In [220]:
nodes_train_df.dtypes

Id               int64
node_start       int64
node_finish      int64
distance       float64
speed          float64
dtype: object

In [221]:
nodes_train_df.describe()

                 Id    node_start   node_finish       distance          speed
count  4.802910e+05  4.802910e+05  4.802910e+05  480291.000000  476307.000000
mean   1.325593e+17  3.831874e+09  3.831719e+09      37.992984      31.293073
std    5.329873e+18  2.702820e+09  2.702986e+09      43.718081      10.131391
min   -9.221524e+18  1.098042e+07  1.098042e+07       0.076575       5.000000
25%   -4.399445e+18  1.570777e+09  1.570777e+09       9.548104      24.000000
50%    1.556848e+17  4.439628e+09  4.439628e+09      22.237880      30.000000
75%    4.817189e+18  5.214945e+09  5.215058e+09      50.181445      37.000000
max    9.222287e+18  8.952487e+09  8.952487e+09    1374.510868     100.000000

In [222]:
nodes_train_df.head()

                    Id  node_start  node_finish    distance  speed
0 -2627062893189810184    10980432   2133368107   17.414917   32.0
1 -2627062893189810184    10980433   5212387954   17.186539   26.0
2 -2627062893189810184    10980445   5221700954   28.513481   26.0
3 -2627062893189810184    10980498     10980445  154.266122   25.0
4 -2627062893189810184    10980647   1986137911    8.542824   29.0

### Geolocation

In [223]:
geolocation_train_df.head()

,Id,node_start,node_finish,distance,speed,lon_start,lat_start,tags_start,lon_end,lat_end,...,amenity.1,parking.1,noexit.1,wheelchair.1,lift_gate:type.1,crossing:bell.1,crossing:light.1,supervised.1,maxheight.1,opening_hours.1
0,-2627062893189810184,10980432,2133368107,17.414917,32.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-6374252502568484586,10980432,2133368107,17.414917,25.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-8332603950975862627,10980432,2133368107,17.414917,30.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6728710084682273587,10980432,2133368107,17.414917,27.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8390209597485549084,10980432,2133368107,17.415147,38.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
#geolocation_train_df = geolocation_train_df[["Id", "node_start", "node_finish", "lon_start", "lat_start", "lon_end", "lat_end"]]

In [225]:
geolocation_train_df.head()

,Id,node_start,node_finish,distance,speed,lon_start,lat_start,tags_start,lon_end,lat_end,...,amenity.1,parking.1,noexit.1,wheelchair.1,lift_gate:type.1,crossing:bell.1,crossing:light.1,supervised.1,maxheight.1,opening_hours.1
0,-2627062893189810184,10980432,2133368107,17.414917,32.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-6374252502568484586,10980432,2133368107,17.414917,25.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-8332603950975862627,10980432,2133368107,17.414917,30.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6728710084682273587,10980432,2133368107,17.414917,27.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8390209597485549084,10980432,2133368107,17.415147,38.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
geolocation_train_df.shape

(398688, 142)

In [227]:
geolocation_train_df.head()

,Id,node_start,node_finish,distance,speed,lon_start,lat_start,tags_start,lon_end,lat_end,...,amenity.1,parking.1,noexit.1,wheelchair.1,lift_gate:type.1,crossing:bell.1,crossing:light.1,supervised.1,maxheight.1,opening_hours.1
0,-2627062893189810184,10980432,2133368107,17.414917,32.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-6374252502568484586,10980432,2133368107,17.414917,25.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-8332603950975862627,10980432,2133368107,17.414917,30.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6728710084682273587,10980432,2133368107,17.414917,27.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8390209597485549084,10980432,2133368107,17.415147,38.0,30.739248,46.472665,{'highway': 'traffic_signals'},30.739022,46.472682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
geolocation_train_df.columns.to_list()

['Id',
 'node_start',
 'node_finish',
 'distance',
 'speed',
 'lon_start',
 'lat_start',
 'tags_start',
 'lon_end',
 'lat_end',
 'tags_end',
 'highway',
 'bus',
 'name',
 'name:ru',
 'name:uk',
 'operator',
 'public_transport',
 'ref_name',
 'source',
 'trolleybus',
 'tactile_paving',
 'crossing',
 'crossing:island',
 'traffic_signals:sound',
 'button_operated',
 'traffic_signals:vibration',
 'barrier',
 'name:en',
 'entrance',
 'railway',
 'traffic_signals',
 'kerb',
 'description',
 'traffic_signals:direction',
 'disused:bus',
 'disused:public_transport',
 'disused:trolleybus',
 'direction',
 'motor_vehicle:conditional',
 'crossing_ref',
 'access',
 'traffic_sign:forward',
 'traffic_calming',
 'traffic_signals:countdown',
 'material',
 'wheelchair',
 'addr:housenumber',
 'addr:street',
 'bench',
 'shelter',
 'flashing_lights',
 'name:be',
 'mapillary',
 'bicycle',
 'website',
 'tram',
 'motor_vehicle',
 'old_name',
 'covered',
 'ref',
 'traffic_sign',
 'foot',
 'local_ref',
 'crossing:barrier',
 'informal',
 'bollard',
 'locked',
 'noexit',
 'amenity',
 'parking',
 'opening_hours',
 'lift_gate:type',
 'crossing:bell',
 'crossing:light',
 'supervised',
 'maxheight',
 'highway.1',
 'bus.1',
 'name.1',
 'name:ru.1',
 'name:uk.1',
 'operator.1',
 'public_transport.1',
 'ref_name.1',
 'source.1',
 'tactile_paving.1',
 'trolleybus.1',
 'button_operated.1',
 'crossing.1',
 'traffic_signals:sound.1',
 'traffic_signals:vibration.1',
 'railway.1',
 'crossing:island.1',
 'name:en.1',
 'barrier.1',
 'traffic_signals.1',
 'kerb.1',
 'direction.1',
 'motor_vehicle:conditional.1',
 'traffic_signals:direction.1',
 'crossing_ref.1',
 'access.1',
 'bicycle.1',
 'traffic_calming.1',
 'traffic_signals:countdown.1',
 'traffic_sign:forward.1',
 'description.1',
 'bench.1',
 'shelter.1',
 'disused:bus.1',
 'disused:public_transport.1',
 'disused:trolleybus.1',
 'flashing_lights.1',
 'name:be.1',
 'mapillary.1',
 'locked.1',
 'motor_vehicle.1',
 'foot.1',
 'tram.1',
 'website.1',
 'old_name.1',
 'ref.1',
 'covered.1',
 'traffic_sign.1',
 'local_ref.1',
 'crossing:barrier.1',
 'vehicle',
 'informal.1',
 'entrance.1',
 'bollard.1',
 'material.1',
 'amenity.1',
 'parking.1',
 'noexit.1',
 'wheelchair.1',
 'lift_gate:type.1',
 'crossing:bell.1',
 'crossing:light.1',
 'supervised.1',
 'maxheight.1',
 'opening_hours.1']

In [229]:
columns = ['Id',
 'node_start',
 'node_finish',
 'distance',
 'speed',
 'lon_start',
 'lat_start',
 'lon_end',
 'lat_end',
 'highway',
 'bus',
 'tactile_paving',
 'trolleybus',
 'button_operated',
 'crossing',
 'traffic_signals:sound',
 'traffic_signals:vibration',
 'railway',
 'crossing:island',
 'barrier',
 'traffic_signals',
 'kerb',
 'direction',
 'traffic_signals:direction',
 'crossing_ref',
 'disused:trolleybus',
 'mapillary',
 'highway.1',
 'bus.1',
 'tactile_paving.1',
 'trolleybus.1',
 'button_operated.1',
 'crossing.1',
 'traffic_signals:sound.1',
 'traffic_signals:vibration.1',
 'railway.1',
 'crossing:island.1',
 'barrier.1',
 'traffic_signals.1',
 'kerb.1',
 'direction.1',
 'traffic_signals:direction.1',
 'crossing_ref.1',
 'bicycle.1',
 'disused:trolleybus.1',
 'mapillary.1']

In [230]:
geolocation_train_df = geolocation_train_df[columns]
geolocation_train_df = pd.get_dummies(geolocation_train_df)

### Preprocessing

1. Finding average speed during the running time

In [231]:
#speed_mean_train_df = nodes_train_df.groupby(["Id"], as_index=False).agg(**{"average_speed": ("speed", "mean")})

### Big table for train

In [232]:
#    .merge(speed_mean_train_df, on='Id', how='inner') \
big_table_train_df = orders_train_df \
    .merge(nodes_train_df, on='Id', how='inner') \
    .merge(geolocation_train_df, left_on=['Id', 'node_start', 'node_finish', 'distance', 'speed'], right_on=["Id", 'node_start', 'node_finish', 'distance', 'speed'], how='left')

In [233]:
big_table_train_df.head(n=100)

,Id,running_time,completed_time,route_distance_km,delta_time,node_start,node_finish,distance,speed,lon_start,...,kerb.1_raised,kerb.1_yes,direction.1_backward,direction.1_forward,traffic_signals:direction.1_both,traffic_signals:direction.1_forward,crossing_ref.1_zebra,bicycle.1_permissive,bicycle.1_yes,disused:trolleybus.1_yes
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980417,4768348185,31.771489,30.0,30.738275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980418,1570776947,3.673054,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980430,4768348188,15.550612,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980431,5125489557,50.034390,29.0,30.739016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980432,5213300015,13.453126,30.0,30.739248,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,6583283285,4543514608,25.858234,28.0,30.737318,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,6806370974,6806370970,24.456913,15.0,30.732332,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,7825374441,1751477830,17.656921,43.0,30.729736,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,7825374442,7825374441,19.745530,42.0,30.729854,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,8018283981,290007862,13.355943,30.0,30.740571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [234]:
big_table_train_df.shape

(401311, 114)

In [235]:
big_table_train_df.describe()

,Id,route_distance_km,delta_time,node_start,node_finish,distance,speed,lon_start,lat_start,lon_end,...,kerb.1_raised,kerb.1_yes,direction.1_backward,direction.1_forward,traffic_signals:direction.1_both,traffic_signals:direction.1_forward,crossing_ref.1_zebra,bicycle.1_permissive,bicycle.1_yes,disused:trolleybus.1_yes
count,4.013110e+05,401311.000000,401311.000000,4.013110e+05,4.013110e+05,401311.000000,398043.000000,333059.000000,333059.000000,333059.000000,...,333059.000000,333059.000000,333059.000000,333059.000000,333059.000000,333059.000000,333059.000000,333059.000000,333059.000000,333059.000000
mean,1.303667e+17,4.378991,681.651009,3.831367e+09,3.831408e+09,37.943735,31.321616,30.732586,46.459090,30.732575,...,0.000676,0.000643,0.000543,0.000688,0.001492,0.001081,0.000994,0.000003,0.000552,0.000709
std,5.354904e+18,1.881615,200.022526,2.702059e+09,2.702430e+09,43.630985,10.153000,0.021236,0.034120,0.021260,...,0.025983,0.025340,0.023306,0.026213,0.038601,0.032859,0.031509,0.001733,0.023498,0.026610
min,-9.220688e+18,0.000000,50.000000,1.098042e+07,1.098042e+07,0.076575,5.000000,30.617222,46.343126,30.617383,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-4.429438e+18,2.957000,532.000000,1.570777e+09,1.570777e+09,9.550179,24.000000,30.721427,46.437590,30.721425,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.224007e+17,4.184000,700.000000,4.439628e+09,4.439628e+09,22.237852,30.000000,30.732812,46.467613,30.732805,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.843955e+18,5.529000,848.000000,5.214945e+09,5.214945e+09,50.033932,37.000000,30.743025,46.478642,30.743025,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.222287e+18,15.954000,999.000000,8.952487e+09,8.952487e+09,1374.510868,100.000000,30.929887,46.616180,30.928776,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [236]:
big_table_train_df.fillna(0, axis=0, inplace=True)

In [237]:
big_table_train_df.to_csv("datasets/big-table-train.csv", index=False)

### Big table for final test

In [238]:
orders_test_df = pd.read_csv("datasets/csv/orders_test.csv")
nodes_test_df = pd.read_csv("datasets/csv/nodes_test.csv")
geolocation_test_df = pd.read_csv("datasets/csv/geolocation_test.csv")

/var/folders/lp/_cq88g5d0vg96d8xt_8p3r780000gn/T/ipykernel_19968/830267644.py:3: DtypeWarning: Columns (12,22,28,29,30,31,32,33,34,35,36,38,39,40,41,43,44,45,46,47,48,49,50,51,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,70,84,86,87,88,89,90,91,92,93,94,96,97,98,99,100,102,103,104,105,106,107,108,109,110,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126) have mixed types. Specify dtype option on import or set low_memory=False.
  geolocation_test_df = pd.read_csv("datasets/csv/geolocation_test.csv")

In [239]:
#geolocation_test_df = geolocation_test_df[["Id", "node_start", "node_finish", "lon_start", "lat_start", "lon_end", "lat_end"]]

In [240]:
geolocation_test_df = geolocation_test_df[columns]
geolocation_test_df = pd.get_dummies(geolocation_test_df)

In [241]:
big_table_test_df = orders_test_df.merge(nodes_test_df, on='Id', how='inner')

In [242]:
#speed_mean_test_df = nodes_test_df.groupby(["Id"], as_index=False).agg(**{"average_speed": ("speed", "mean")})

In [243]:
#.merge(speed_mean_test_df, on='Id', how='inner') \
big_table_test_df = big_table_test_df \
    .merge(geolocation_test_df, left_on=['Id', 'node_start', 'node_finish', 'distance', 'speed'], right_on=["Id", 'node_start', 'node_finish', 'distance', 'speed'], how='left')

In [244]:
big_table_test_df

,Id,running_time,route_distance_km,node_start,node_finish,distance,speed,lon_start,lat_start,lon_end,...,kerb.1_lowered,kerb.1_raised,kerb.1_yes,direction.1_backward,direction.1_forward,traffic_signals:direction.1_both,traffic_signals:direction.1_forward,crossing_ref.1_zebra,bicycle.1_yes,disused:trolleybus.1_yes
0,6198,2022-01-24 03:38:30,4.744,8952394129,8952394128,138.795710,37.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6198,2022-01-24 03:38:30,4.744,2059503754,4548172320,95.273001,33.0,30.724095,46.431127,30.724951,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6198,2022-01-24 03:38:30,4.744,2059504508,2059503754,137.647881,35.0,30.722883,46.430222,30.724095,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6198,2022-01-24 03:38:30,4.744,1570776534,1977018578,4.383708,30.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6198,2022-01-24 03:38:30,4.744,1977018580,1977018576,24.195593,31.0,30.725686,46.437680,30.725999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102535,527850,2022-01-24 18:45:20,10.127,290891780,5957304897,40.933260,45.0,30.735412,46.470630,30.735943,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102536,527850,2022-01-24 18:45:20,10.127,5957304897,3902949792,63.421598,34.0,30.735943,46.470589,30.736766,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102537,527850,2022-01-24 18:45:20,10.127,3902949792,290404192,4.303810,16.0,30.736766,46.470527,30.736851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102538,527850,2022-01-24 18:45:20,10.127,290404192,5957304888,5.250640,37.0,30.736851,46.470520,30.736845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102539,527850,2022-01-24 18:45:20,10.127,290404197,290891780,116.290302,41.0,30.733903,46.470744,30.735412,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [245]:
big_table_test_df.fillna(0, axis=0, inplace=True)

In [246]:
big_table_test_df.to_csv("datasets/big-table-test.csv", index=False)

### Submission info

In [31]:
test_df = pd.read_csv("datasets/csv/orders_test.csv")

In [247]:
test_df.shape

NameError: name 'test_df' is not defined

In [33]:
test_df.head()

      Id         running_time  route_distance_km
0   6198  2022-01-24 03:38:30              4.744
1   6417  2022-01-24 03:45:51              6.279
2   7054  2022-01-24 03:52:14              3.934
3   9628  2022-01-24 04:03:21              5.959
4  10283  2022-01-24 04:01:12              7.028

In [34]:
submission_df = pd.DataFrame(columns=['Id', 'Predicted'])

In [35]:
submission_df['Id'] = test_df['Id']
submission_df['Predicted'] = 0

In [36]:
submission_df.head()

      Id  Predicted
0   6198          0
1   6417          0
2   7054          0
3   9628          0
4  10283          0

In [37]:
submission_df.to_csv("datasets/submission.csv", index=False)