In [1]:
import pandas as pd

In [3]:
orders_df = pd.read_csv("datasets/orders.csv")
nodes_df = pd.read_csv("datasets/nodes.csv")

In [4]:
orders_df.describe()

                 Id  route_distance_km   delta_time
count  6.000000e+03        6000.000000  6000.000000
mean  -1.051751e+16           3.742921   620.067000
std    5.301450e+18           1.790675   211.458607
min   -9.211289e+18           0.000000   111.000000
25%   -4.591931e+18           2.389000   450.000000
50%   -4.665737e+16           3.408000   619.000000
75%    4.528935e+18           4.777250   795.250000
max    9.217263e+18          15.954000   999.000000

In [5]:
orders_df.head()

,Id,running_time,completed_time,route_distance_km,delta_time
0,7013180891535596072,2022-01-24 11:04:12,2022-01-24 11:14:07,4.061,595.0
1,-1446874864726772723,2022-01-24 18:31:03,2022-01-24 18:44:03,2.766,780.0
2,-7109832734562886369,2022-01-24 07:33:11,2022-01-24 07:38:33,2.022,322.0
3,5574536568610609787,2022-01-24 17:23:20,2022-01-24 17:35:11,4.309,711.0
4,-9022427340295022993,2022-01-24 18:01:45,2022-01-24 18:07:09,1.819,324.0

In [8]:
nodes_df.describe()

                 Id    node_start   node_finish       distance          speed
count  4.907370e+05  4.907370e+05  4.907370e+05  490737.000000  487140.000000
mean  -2.674246e+16  3.827615e+09  3.828398e+09      37.888818      31.277917
std    5.313806e+18  2.699572e+09  2.699417e+09      43.612807      10.139868
min   -9.211289e+18  1.098042e+07  1.098042e+07       0.076575       5.000000
25%   -4.636557e+18  1.570777e+09  1.570777e+09       9.540248      24.000000
50%   -5.419054e+16  4.439628e+09  4.439628e+09      22.170245      30.000000
75%    4.528768e+18  5.214753e+09  5.214753e+09      50.033934      37.000000
max    9.217263e+18  8.952487e+09  8.952487e+09     946.738371     100.000000

In [7]:
nodes_df.head()

                    Id  node_start  node_finish    distance  speed
0  1403210517021349791   290773715   2041636852   64.755864   36.0
1  1403210517021349791   290773722   2163829963   59.012828   36.0
2  1403210517021349791   290773723   3129305123    8.709567   34.0
3  1403210517021349791   291071720   5216935099  275.796769   33.0
4  1403210517021349791   297978510   3684572319    8.141696   38.0